.messages-cont-main {
    padding: 0;
}

.messages-cont-main .messages-cont>input {
    width: 90%;
    margin: 15px auto;
    font-size: 1rem;
    font-weight: 700;
    display: block;
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), -1px -1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.messages-cont .developemnt-message {
    margin: auto ;
    text-decoration:wavy;
    color: #444;
    text-align: center;
    width: 90%;
    font-size: 1.3rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2), -1px -1px 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
}

@media (max-width:400px) {
    .messages-cont .developemnt-message {
        font-size: 1rem;
    }
}