.account-page {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.account-page .top h3 {
    text-decoration: underline;
}

.account-page div.main {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.account-page .top {
    padding: 3px 10px;
    display: flex;
    justify-content: space-between;
}

.account-page .top img {
    height: 25px;
}

.account-page .top img.insta {
    scale: 1.9;
    padding-left: 7px;
}

.account-page .profile-top {
    display: flex;
    height: 85px;
    align-items: center;
    justify-content: space-around;
}

.account-page .profile-top .profile-pic {
    border: 1px solid;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    overflow: hidden;
}

.account-page .profile-top .profile-pic img {
    width: 100%;
    height: 100%;
}

.account-page .profile-top .profile-data-right {
    height: 70px;
    width: 60%;
    min-width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account-page .profile-top .profile-data-right .data-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.account-page .profile-bio {
    padding: 0px 10px;
}

.account-page .profile-btns {
    padding: 4px 10px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    margin-top: 10px;
}

.account-page .profile-btns button {
    padding: 5px;
    width: 130px;
    font-size: 1rem;
    border: none;
    background-color: #efefef;
    border-radius: 5px;
    margin-right: 20px;
    font-weight: 600;
    cursor: pointer;
}

.account-page .posts-section {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 20px;
    /* overflow-y: scroll; */
    overflow-x: hidden;
}

.account-page .posts-section .post-box-profile {
    width: 33.33%;
}